span.location {
    color: #8888ff;
    font-weight: bold;
}

span.tag {
    color: #ff6666;
    font-weight: bold;
}

span.platform {
    color: #ffb626;
    font-weight: bold;
}

.references li {
    font-size: 40%;
    padding: 5px 0;
}

s {
    color: #888888;
}

/* .sm-bullets { */
/*     font-size: 65%; */
/* } */

.content.sm-bullets li {
    padding: 5px;
    font-size: 75%;
}
.content.sm-bullets li ul {
    margin: 5px;
    font-size: 85%;
}

h1 em {
    color: #ff5818;
}
